In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector as connector
connection = connector.connect(user = "admin", password = "admin", db ="littlelemondb")

In [ ]:
# Create a cursor object
cursor = connection.cursor()

# Execute the "SHOW TABLES" query
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)

# Fetch the results
result = cursor.fetchall()

# Print the result
print(tables)

In [18]:
# Constructing an SQL query to retrieve customer details for orders more than 60
cust_details_query = """
SELECT 
    CONCAT(c.CustFirstName, ' ', c.CustLastName) AS FullName,
    c.CustEmail,
    c.CustContactNum,
    c.CustAddress,
    c.City,
    c.State,
    c.PostalCode,
    o.BillAmount
FROM customers c
INNER JOIN orders o
    ON c.customerID = o.CustomerID
WHERE o.BillAmount > 60;
"""

# Execute the SQL query using the cursor
cursor.execute(cust_details_query)

#ftech and print the column names
cols = cursor.column_names
print(cols)

# Fetch all the results
results = cursor.fetchall()

# Iterate over the results and print each customer's details
for result in results:
    print(result)

('FullName', 'CustEmail', 'CustContactNum', 'CustAddress', 'City', 'State', 'PostalCode', 'BillAmount')
('Gussie Dyett', 'gdyett0@oakley.com', '317-576-9548', '2 Granby Street', 'Indianapolis', 'Indiana', '46226', Decimal('147.27'))
('Jasmine Savin', 'jsavin1@icq.com', '714-246-3848', '2 Eggendart Drive', 'Anaheim', 'California', '92812', Decimal('164.52'))
('Jasper Meade', 'jmeade2@clickbank.net', '412-516-2700', '60 Del Sol Circle', 'Pittsburgh', 'Pennsylvania', '15215', Decimal('80.79'))
('Jefferey Ollive', 'jollive3@plala.or.jp', '727-377-1126', '007 Petterle Trail', 'Clearwater', 'Florida', '33763', Decimal('270.39'))
('Maryanne McDonagh', 'mmcdonagh5@hhs.gov', '408-562-2128', '8858 Pond Pass', 'San Jose', 'California', '95138', Decimal('296.74'))
('Algernon Kerman', 'akerman6@shop-pro.jp', '202-832-6462', '3 Eggendart Place', 'Washington', 'District of Columbia', '20220', Decimal('294.97'))
('Mallorie Rickcord', 'mrickcord7@yandex.ru', '626-850-5236', '34 Russell Street', 'Pasadena', 'California', '91103', Decimal('284.63'))
('Barr Spivey', 'bspivey8@ibm.com', '650-319-2836', '2635 Corben Pass', 'Mountain View', 'California', '94042', Decimal('238.24'))
('Carlota Clamp', 'cclampa@stumbleupon.com', '702-160-0176', '15083 Walton Park', 'Las Vegas', 'Nevada', '89120', Decimal('271.73'))
('Mathilda McAirt', 'mmcairtb@flickr.com', '312-118-2332', '8090 Huxley Parkway', 'Chicago', 'Illinois', '60681', Decimal('286.77'))
('Dinnie Nestle', 'dnestlec@vistaprint.com', '941-578-8261', '55 7th Drive', 'Sarasota', 'Florida', '34233', Decimal('98.67'))
('Callean Stoacley', 'cstoacleyd@pbs.org', '718-199-1115', '7 Welch Point', 'Bronx', 'New York', '10469', Decimal('213.04'))
('Madeleine McGaraghan', 'mmcgaraghane@wordpress.org', '859-518-9007', '2161 Westridge Circle', 'Lexington', 'Kentucky', '40586', Decimal('249.20'))
('Winona Profit', 'wprofitf@sciencedirect.com', '317-966-6797', '7280 Moulton Terrace', 'Indianapolis', 'Indiana', '46295', Decimal('86.86'))
('Peri Shawcross', 'pshawcrossg@cam.ac.uk', '571-764-5208', '82571 Ramsey Drive', 'Merrifield', 'Virginia', '22119', Decimal('266.70'))
('Marijn Hillitt', 'mhillitth@walmart.com', '513-734-5672', '349 Graceland Trail', 'Cincinnati', 'Ohio', '45243', Decimal('112.92'))
('Johnette Yude', 'jyudei@ifeng.com', '480-741-4779', '8 Heath Crossing', 'Phoenix', 'Arizona', '85005', Decimal('124.49'))
('Hanson Boyack', 'hboyackj@webmd.com', '540-943-8869', '153 Namekagon Circle', 'Roanoke', 'Virginia', '24014', Decimal('203.71'))
('Saundra Shah', 'sshahk@51.la', '434-481-0873', '1 Maple Wood Parkway', 'Charlottesville', 'Virginia', '22903', Decimal('125.07'))
('Oswell Guarin', 'oguarinl@delicious.com', '806-457-4645', '35 Johnson Drive', 'Amarillo', 'Texas', '79176', Decimal('154.24'))
('Bartel Craigs', 'bcraigsm@goo.ne.jp', '830-852-0355', '5 Alpine Hill', 'San Antonio', 'Texas', '78260', Decimal('95.98'))
('Tandy Reitenbach', 'treitenbachn@smh.com.au', '585-327-7080', '26011 Melby Park', 'Rochester', 'New York', '14624', Decimal('157.18'))
('Ulick Chastney', 'uchastneyo@blogspot.com', '813-351-6894', '4642 Tennessee Place', 'Tampa', 'Florida', '33686', Decimal('197.94'))
('Nadya Kynder', 'nkynderp@ezinearticles.com', '865-803-9973', '30022 Dunning Pass', 'Knoxville', 'Tennessee', '37919', Decimal('218.17'))
('Jodi Fotheringham', 'jfotheringhamq@oakley.com', '915-228-5561', '2 Arkansas Alley', 'El Paso', 'Texas', '79940', Decimal('197.02'))
('Janel Lipman', 'jlipmans@admin.ch', '915-723-2222', '18 Kenwood Terrace', 'El Paso', 'Texas', '88569', Decimal('142.02'))